/* Write your CSS here */
.light-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  height: 6vh;
  width: 100vw;
}
.dark-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333333;
  height: 6vh;
  width: 100vw;
}
img {
  height: 4vh;
  width: 4vw;
  padding: 10px;
}
.light {
  font-size: 12px;
  padding: 10px;
  color: #333333;
}
.dark {
  color: balck;
  font-size: 12px;
  padding: 10px;
}
